


.login{
  width: 100svw;
  height: 100svh;
  overflow: hidden;


  .left{
    width: 50%;
    padding: 1rem;

    :is(img){
      width: auto;
      height: auto;
    }

    #adman-logo{
      width: 5rem;
      height: 5.5rem;
    }

    .login-form{
      width: 60%;
      margin: 0 auto;

      :is(input){
        width: 100%;
        border-radius: .5rem;
        border: 1px solid #d9d9d9;
        height: 2.8rem;
        padding: .8rem .75rem;
      }

      :is(button){
         border-radius: .25rem;
         background: #6EC27A;
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
         color: white;
         width: 100%;
         border: 0;
         padding: .625rem;
         font-size: 1.25rem;
          font-weight: 700;
      }

      .form{
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        margin: 6rem 0;

        .login-feild{
          display: flex;
          flex-direction: column;
          gap: .625rem;
        }
      }

      .forgot-password{
        margin-bottom: 1rem;
      }
  
    }

  }

  .right{
    width: 50%;
    position: relative;

    :is(img){
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}