



.sidebar{
    width: 100%;
    height: 100%;
    padding: 2rem 0rem  2rem 1.25rem;
    background-color: var(--sidebar-blue);
    color: #F0F0F5;
    --round-corner: 1.75rem;

    .heading{
        padding: 0 0 1.1rem 0;
        border-bottom: 2px solid #D9D9D9;
        margin-bottom: 2rem;
        width: 94%;
        text-transform: uppercase;
    }

    .nav-list{
        width: 100%;
        position: relative;
        z-index: 10;
        
        :is(div){
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 1.25rem;
            font-size: .85rem;
            text-align: left;
            border-radius: 2rem 0 0 2rem;
            height: 3rem;
        }

        .nav-item{
            cursor: pointer;
            z-index: 10 !important;
            transition: .4s;
            position: relative;
            display: flex;
            gap: .75rem;
            align-items: center;
            margin-top: 1rem;
        }

        .nav-item.selected{
            color: black;
            z-index: 10 !important;
            cursor: default;
        }

        .hover-div{
            position: absolute;
            top: 0;
            transition: .4s ease-in-out;
            background-color: var(--background);
        }

        .hover-div::after{
            content: "";
            position: absolute;
            aspect-ratio: 1;
            width: var(--round-corner);
            right: 0;
            bottom: calc(var(--round-corner) *-1);
            border-radius: 0 var(--round-corner) 0 0;
            box-shadow: 6px -6px 0 3px var(--background);
        }

        .hover-div::before{
            content: "";
            position: absolute;
            aspect-ratio: 1;
            width:var(--round-corner);
            right: 0;
            top: calc(var(--round-corner) *-1);
            border-radius: 0 0 var(--round-corner) 0;
            box-shadow: 6px 6px 0 3px var(--background);
        }

        .nav-item:nth-child(2).selected ~ .hover-div{
            transform: translateY(calc(4rem * 1));
        }
        .nav-item:nth-child(3).selected ~ .hover-div{
            transform: translateY(calc(4rem * 2));
        }
        .nav-item:nth-child(4).selected ~ .hover-div{
            transform: translateY(calc(4rem * 3));
        }
        .nav-item:nth-child(5).selected ~ .hover-div{
            transform: translateY(calc(4rem * 4));
        }
        .nav-item:nth-child(6).selected ~ .hover-div{
            transform: translateY(calc(4rem * 5));
        }

    }
}