@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');




:root{
  --background: #fff;
  --sidebar-blue: #215273;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  overflow: hidden;
  width: 100svw;
  height: 100svh;

  .left-section{
    width: max(25vw,250px);
    height: 100svh;
  }

  .right-section{
    width: 100%;
    min-height: 100svh;
    overflow: auto;
    padding: 1rem 1.75rem;
  }
}

.text-title{text-transform: capitalize;}
.text-right{text-align: right;}
.text-align-left{text-align: left;}

.color-blue{color: var(--sidebar-blue)}
.color-white{color: white;}
.color-black{color: black; }

.medium-bold{font-weight: 500;}
.semi-bold{font-weight: 600;}

.cursor-pointer{cursor: pointer;}

.gap-05{gap: .5rem;}

.flex{display: flex;}
.flex-a-cen-j-spbet{display: flex;align-items: center;justify-content: space-between;}
.flex-a-cen{display: flex;align-items: center;}
.flex-a-cen-j-fend{display: flex;align-items: center;justify-content: flex-end;}
.flex-a-cen-j-cen{display: flex;align-items: center; justify-content: center;}

.font-12{font-size: .75rem;}
.font-14{font-size: .875rem;}
.font-16{font-size: 1rem;}
.font-18{font-size: 1.125rem;}
.font-20{font-size: 1.5rem;}
.font-22{font-size: 1.375rem;}
.font-48{font-size: 3rem;}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.border-d9d9d9{border: 1px solid #d9d9d9;}

.border-radius-12{border-radius: .75rem;}

.cursor-pointer{
  cursor: pointer;
}